:root {
  --main: #004bbd;
  --dark: #121212;
  --bright: #fffafa;
  --important: #e53935;
  --clear: #00a86b;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--bright);
}

h1 {
  margin: 0;
}
